* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h1,
p,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

ul,
li {
    list-style: none;
}

.white {
    color: #fff
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.primary {
    color: #d35400;
}

.primary-bg {
    background-color: #d35400;
}

.secondary {
    color: #3498db;
}

.secondary-bg {
    color: #3498db;
}

a,
a:active,
.btn,
.btn:active {
    text-decoration: none;
    color: #d35400;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus {
    text-decoration: none;
    color: #fff;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0.6);
}

.section-padding {
    padding: 64px 0;
}

.space {
    margin-top: 64px;
}